@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="renderer" content="webkit" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
        <link rel="stylesheet" href="/css/layuimini.css" media="all" />
        <link rel="stylesheet" href="/css/public.css" media="all" />
        <link href="/css/layui.css" rel="stylesheet" />
        <title>后台管理系统 - 观己设计</title>
    </head>
    <body>
        
    </body>
</html>